<section>
  <h2>Some Cool Forums</h2>
  <ul>
    <li><span><a href="/www.idmforums.com" rel="nofollow">IDM Forums</a></span> </li>
    <li><span><a href="/www.thegearpage.net--board" rel="nofollow">The Gear Page</a></span> </li>
    <li><span><a href="/www.diystompboxes.com--smfforum" rel="nofollow">DIY Stompboxes</a></span> </li>
    <li><span><a href="/www.echoingthesound.org--community" rel="nofollow">Echoing the Sound</a></span> </li>
    <li><span><a href="/forum.fractalaudio.com" rel="nofollow">Fractal Audio</a></span> </li>
    <li><span><a href="/forum.u2guitartutorials.com" rel="nofollow">U2 Guitar Tutorials</a></span> </li>
    <li><span><a href="/www.seymourduncan.com--forum" rel="nofollow">Seymour Duncan Forum</a></span> </li>
    <li><span><a href="/forum.thecomatorium.com" rel="nofollow">The Comatorium</a></span> </li>
    <li><span><a href="/www.mylespaul.com" rel="nofollow">My Les Paul</a></span> </li>
    <li><span><a href="/www.gearslutz.com" rel="nofollow">Gearslutz</a></span> </li>
  </ul>
</section>